{% extends 'admin_base.html' %}
{% block title %}Payments{% endblock %}
{% block css %}
    <script>
        const activeDashboardSidebar = 'payments';
    </script>
{% endblock %}
{% block content %}
    <h2 >Payments</h2>
    <div class="table-responsive">
            <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
        <th scope="col">User</th>
      <th scope="col">Method</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
        <th scope="col">Date & time</th>
    </tr>
  </thead>
  <tbody>
  {% for payment in payments %}
    <tr>
      <th scope="row">{{ payment.payment_id }}</th>
      <td><a href="{% url 'admin_single_user' payment.user.pk %}">{{ payment.user.full_name }}</a> </td>
      <td>{{ payment.payment_method }}</td>
      <td>Ksh. {{ payment.amount_paid }}</td>
    <td>{{ payment.status|title }}</td>
    <td class="to_local_datetime" data-utc="{{ payment.created_at|date:'Y-m-d H:i' }}">

            </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
        </div>
   {% if payments.paginator.num_pages > 1 %}
    {% include 'paginate.html' with page_obj=payments %}
{% endif %}


{% endblock %}